
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');


.header {
    width: 100%;
    height: 3em;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    z-index: 9999;


}

.logo {

    font-size: 2.5rem;
    font-family: 'Staatliches', cursive;
    text-align: left;
    cursor: pointer;
}

.ul {
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.ul > li {
    margin-top: 0.6rem;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
}


