@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

@font-face {
    font-family: 'IBMPlexSansKR-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexSansKR-Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.n1{
    height: 100vh;
    scroll-behavior:smooth;
}

.main {
    padding-top: 10rem;
}


.logo {
    font-size: 5rem;
    font-family: 'Staatliches', cursive;
}

.nt {
    font-family: 'IBMPlexSansKR-Regular';
    font-size: 1rem;
}

