@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Kaushan+Script&family=Knewave&family=Lemon&family=Mogra&family=Poppins:wght@200;300;400&family=Racing+Sans+One&family=Sriracha&display=swap');


.container {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;

}

.ul {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5em;
    width: auto;
  
}


.ul > li {
    margin: 1em 1.5em;
    cursor: pointer;
    justify-content: center;
}

.margin {
margin: 0.5em 0;
}


.circle{
    border: 1px solid;
    width:2.5em;
    height:2.5em;
    border-radius: 50%;
  }

  .name {
    margin-top: 0.5em;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    width: 120%;

  }



